<!DOCTYPE html>
<html lang="en" ng-app="shop">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Shop</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.min.css"/>
    </head>
    <body ng-controller="MainController">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <img 
                        src="https://inpaok.com/wp-content/uploads/2016/08/salpi_3.jpg" 
                        err-src="https://cdn.sansimera.gr/media/photos/main/PAOK.jpg" 
                        class="img-thumbnail"
                    />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <select ng-model="sort" class="form-control">
                        <option ng-value="'id'">ID +</option>
                        <option ng-value="'-id'">ID -</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" ng-model="search.$" class="form-control" placeholder="Search..."/>
                </div>
                <div class="col">
                    <select ng-model="quantity" class="form-control">
                        <option ng-value="1">1</option>
                        <option ng-value="3">3</option>
                        <option ng-value="6">6</option>
                        <option ng-value="12">12</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="i in filtered = (items | filter: search) | orderBy: sort | offset:currentPage*quantity | limitTo:quantity">
                            {{ i.name }} {{ i.id }}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" ng-class="prevPageDisabled()"><a class="page-link" href="#" ng-click="prevPage()">Previous</a></li>
                <li class="page-item" ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"><a class="page-link" href="#">{{ n + 1 }}</a></li>
                <li class="page-item" ng-class="nextPageDisabled()"><a class="page-link" href="#" ng-click="nextPage()">Next</a></li>
            </ul>
        </nav>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/controllers/MainController.js"></script>
    </body>
</html>